html, body { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

:root {
  --color-main: #fdc565;
  --color-main-light: #f6b763;
  --color-main-dark: #917254;
  --color-main-grey: #61574c;
  --color-bg-white: #eee;
  --color-text-black: rgba(0, 0, 0, .8);
  --color-text-white: rgba(255, 255, 255, .8);
  --color-text-white-disable: rgba(255, 255, 255, .38);
}

body {
  position: relative;
  margin: 0;
  height: 100%;
  font-family: 'Noto Sans CJK TC', 'PingFang TC', 'Heiti TC', 'Microsoft JhengHei', Helvetica, Segoe UI, Arial, sans-serif;
  background-color: var(--color-bg-white);
}

@keyframes full-rotation {
    0% { transform: rotate(  0deg); }
  100% { transform: rotate(360deg); }
}

header {
  position: sticky;
  top: -70vh;
  z-index: 99;
  background-color: var(--color-main);
}
header .page-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  overflow: hidden; 
}
header .page-header .logo {
  max-width: 70%;
  max-height: 70%;
  font-size: 0;
  z-index: 3;
}
header .page-header .logo img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
header .page-header .ring {
  min-width: 300px;
  min-height: 300px;
  position: absolute;
  border-width: 3rem;
  border-style: solid;
  border-color: transparent;
  border-radius: 50%;
  z-index: 1;
  animation: full-rotation linear infinite;
}
header .page-header .ring:nth-of-type(1) {
  width: 30vw;  height: 30vw;
  animation-duration: 53s;
  border-top-color: var(--color-main-light);
  border-bottom-color: var(--color-main-dark);
}
header .page-header .ring:nth-of-type(2) {
  width: 40vw;  height: 40vw;
  animation-duration: 32s;
  animation-direction: reverse;
  border-right-color: var(--color-main-grey);
}
header .page-header .ring:nth-of-type(3) {
  width: 60vw;  height: 60vw;
  animation-duration: 41s;
  animation-direction: reverse;
  border-top-color: var(--color-main-light);
  border-bottom-color: var(--color-main-dark);
}
header .page-header .ring:nth-of-type(4) {
  width: 70vw;  height: 70vw;
  animation-duration: 57s;
  border-right-color: var(--color-main-light);
  border-left-color: var(--color-main-grey);
}
header .page-header .ring:nth-of-type(5) {
  width: 90vw;  height: 90vw;
  animation-duration: 25s;
  border-top-color: var(--color-main-grey);
  border-bottom-color: var(--color-main-dark);
}

nav h2 {
  position: absolute;
  left: -100%;
}
nav ul {
  display: flex;
  width: 100%;
  overflow-x: auto;
  margin: 0;
  padding: 0;
}
nav ul li {
  flex-grow: 1;
  position: relative;
  list-style-type: none;
  white-space: nowrap;
}
nav ul li a {
  display: flex;
  justify-content: center;
  padding: .5rem 1rem;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3em;
  font-variant: small-caps;
  background-color: var(--color-main-dark);
  color: var(--color-text-white);
}
nav ul li a:hover {
  background-color: var(--color-main-dark);
  color: white;
  opacity: .8;
}
nav ul li a.-now-at {
  background-color: var(--color-main);
  color: var(--color-main-dark);
  box-shadow: inset 0 -3px 0 0 CurrentColor;
}
nav ul li a.-coming-soon {
  color: var(--color-text-white-disable);
  pointer-events: none;
}

footer {
  margin-top: 0.9rem;
  padding: 1rem 0;
  text-align: center;
  background-color: var(--color-main-dark);
  color: rgba(255, 255, 255, .8);
}

main {
  position: relative;
  width: 60.5rem;
  max-width: 100vw;
  margin: 0.9rem auto;
  line-height: 1.8rem;
  word-break: break-word;
}

main > h1, article {
  position: relative;
  width: 100%;
  margin: 0.9rem 0;
  padding: 1.8rem 3.6rem;
  background-color: white;
  filter: drop-shadow(5px 5px var(--color-main-grey));
}
@media (max-width: 700px) {
  main > h1, article {
    padding-right: 1.1rem;
    padding-left: 1.1rem;
  }
}

main > h1 {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  font-size: 2.5rem;
  line-height: 3.6rem;
  color: var(--color-main-grey);
}
main > h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  left: -1.8rem;
  border-radius: 50%;
  background-color: var(--color-main-light);
}

article h2 {
  margin-top: 1.8rem;
  margin-bottom: 0.9rem;
  font-size: 2rem;
  line-height: 2.7rem;
  color: var(--color-main-grey);
}
article h3 {
  margin-top: 0.9rem;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: var(--color-main-grey);
}
article section,
article hr {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}
article p,
article ul {
  margin: 0;
}
article > :first-child {
  margin-top: 0rem;
}
article > :last-child {
  margin-bottom: 0rem;
}
article .full-width {
  margin: 0.9rem -3.6rem;
  padding: 0.9rem 3.6rem;
}
@media (max-width: 700px) {
  article .full-width {
    margin: 0.9rem -1.1rem;
    padding: 0.9rem 1.1rem;
  }
}

h1 small, h2 small, h3 small {
  padding-left: .5em;
  font-size: 75%;
  font-weight: 700;
}

article hr {
  border: none;
  text-align: center;
}
article hr.big::before {
  content: '＊　＊　＊　＊　＊';
}
article p {
  text-indent: 2ic;
}
article i {
  font-style: normal;
  color: var(--color-main-dark);
  opacity: .8;
}
article img {
  max-width: 100%;
}
article em {
  font-style: normal;
  color: var(--color-main-grey);
  font-weight: 700;
}
article aside {
  background-color: var(--color-main);
}

article span.-math {
  font-family: serif;
}
article span.-math i {
  font-style: italic;
  color: unset;
  opacity: unset;
}

ul a {
  text-decoration: none;
  color: var(--color-main-dark);
}
ul a:hover {
  color: var(--color-main-light);
}


div.center {
  display: grid;
  align-items: center;
  justify-items: center;
}
ul.grid-ul {
  padding: 0;
  list-style: none;
  display: grid;
  row-gap: .9rem;
  column-gap: .5rem;
}
ul.grid-ul.-c2 { grid-template-columns: repeat(2, 1fr); }
ul.grid-ul.-c4 { grid-template-columns: repeat(4, 1fr); }
@media (max-width: 700px) {
    ul.grid-ul.-c2 { grid-template-columns: repeat(1, 1fr); }
    ul.grid-ul.-c4 { grid-template-columns: repeat(2, 1fr); }
}

ul.img-ul {
  padding-left: 5rem;
  list-style: none;
}
ul.img-ul li {
  position: relative;
  min-height: 5.9rem;
  margin: 0.9rem 0;
  padding-left: 0.9rem;
}
ul.img-ul li:not(:first-child)::before {
  content: "";
  position: relative;
  top: -0.45rem;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-main-grey);
}
ul.img-ul .li-img {
  position: absolute;
  left: -5rem;
  top: 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  line-height: 0;
  background-color: white;
  box-shadow: 3px 2px var(--color-main-dark),
             -3px -2px var(--color-main-light);
}
ul.img-ul .li-img img {
  max-width: 5rem;
  max-height: 5rem;
}
ul.img-ul .li-img .text-logo {
  font-size: 2rem;
  font-weight: 900;
  color: var(--color-main);
}

i.icon, i.color-box {
  display: inline-block;
  margin-right: 0.4em;
  vertical-align: middle;
  line-height: 0;
}
i.icon img {
  height: 1.8em;
}
i.color-box {
  width: 1.8em;
  height: 1.8em;
  background-color: CurrentColor;
}

.codepen {
  height: 265px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  margin: 1em 0;
  padding: 1em;
}
